body, html {
    height: 100%;
    
}

canvas {
    z-index: 30;
}

/* Global */

*{
    padding : 0;
    margin: 0
}
@font-face {
    font-family: "SofiaPro-Bold";
    src: url("/fonts/Sofia/SofiaPro-Bold.otf");
    font-family: "SofiaPro-Reg";
    src: url("fonts/Sofia/SofiaPro-Regular.otf");
}
  
body::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5,auto);
    grid-template-areas:  "header header header"
                          "main main main"
                          "footer footer footer";  
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;                                           
}

header{
    grid-area: header;
    display: flex;
    position: fixed;
    width: 100%; 
    z-index: 1;
} 

main {
    grid-template-areas: "download download download"
                         "demo demo demo";
    position: relative;
    width: 100%; 
}

footer{
    grid-area: footer;
    
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    width: 100%; 
    z-index: 10;
}

/* ALL BIG BUTTONS */

.button{
    width: 12vw;
    height: 5vw;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    border: none;    
    font-family: SofiaPro-Bold;  
    font-size: 2.5vh; 
    color: #38ADA9;  
    cursor: pointer;
}

/* ALL SECTIONS */
Section{
    display: block;
    flex-direction: column;
    width: 100%; 
    height: 100vh; /* vh = Viewport Height : permet de dimensioner par rapport à la taille de l'écran*/
    text-align: center;
    justify-content: center;
    align-items: center;
    /*SCROLL SNAP ALIGN*/
    scroll-snap-align: center; 
}

/* HEADER */

header{
    z-index: 10;
}

.logo{
    grid-area: logo;
    width: 5vw;
    margin-left: 1vw;
}

.navbar-header{
    height: 8vh;
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: center;
    align-items: center;    
    background-color: white;
    

}
.navbar-header ul{
    display: flex;
    justify-content: space-between; 
}
.navbar-header li{
    margin: 0 2vw 0 2vw; 
    list-style-type: none;
    font-family: SofiaPro-Bold;
    
}
.navbar-header li a{
    text-decoration: none;
    color: #38ADA9;
    font-size: 3vh;
}

/* MAIN */

/* DEMO PART */

#demo{
    grid-area: demo;
    margin: 0 auto;
    min-height: 1000px;
    max-height: 1000px;
    min-width: 1350px;
    max-width: 1350px;
    font-family: "SofiaPro-Reg";
    position: relative;
    background-image: url("../media/Mockup_Final.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}
#video-demo{
    position: absolute;
    top: 128px;
    right: 182px;
    height: 753px;
    width:356px;
    margin-top: 0px;
    overflow: hidden;
    border-radius: 15px 15px 40px 40px;
    z-index: 5;
    /* background-color: lavender; */

    
}

.iframe-demo{
    height: 1350px ; 
    width: 352px; 
    margin-top:-475px; 
}



/* DOWNLOADS PART */
#download{
    width:100%;
    margin: 0 auto;
    grid-area: download;
    display: flex;
    flex-direction: column;
    z-index: 1;

}

#article-download p{
    font-family: SofiaPro-Reg;
    font-size: 3vh;
}

#logo-download{
    margin-bottom: 1vh;
}

#button_download_container{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.button-download{
    min-width: 200px;
    max-width: 200px;
    max-height: 55px;
    min-height: 55px;
    margin-top: 4vw ;
    border-radius: 15px;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    border: none;     
    cursor: pointer;
}
#button-appStore{
    width: 10.37vw;
    height: 5.8vh;
    background-image: url("../media/appstore.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5em;
}

#button-playStore{
    background-image: url("../media/playstore.png");
    width: 10.37vw;
    height: 5.8vh;
    font-size: 5vh;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Footer */

.navbar-footer{
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: center;
    align-items: center;  
    margin-bottom: 2vh;

}

.navbar-footer ul{
    display: flex;
    justify-content: space-between; 
}
.navbar-footer li{
    margin: 2vw 1vw ; 
    padding-right: 2vw;
    font-size: 2vh;
    color: #38ADA9;
    border-right: 1px solid #fab1a0 ;
    list-style-type: none;
    font-family: SofiaPro-Bold;
    
}

.navbar-footer li:last-of-type{
    border-right: none;
    }


.navbar-footer li a{
    text-decoration: none;
    color: #38ADA9;
    font-size: 2vh;
}


/* MEDIA QUERIES screen under */



@media screen and (max-width: 1350px) {
    #demo{
        
        min-height: 1000px;
        max-height: 1000px;
        min-width: 768px;
        max-width: 768px;
        
        
    }
    #video-demo{
        top: 285px;
        right: 101px;
        height: 430px;
        width:203px;
        border-radius:15px;

    }

    .iframe-demo{
        height: 1150px ; 
        width: 100%; 
        margin-top:-720px; 
    }

    .navbar-footer li{
        font-size: 1.5vh;
    }
    .navbar-footer li a{
        font-size: 1.5vh;
    }
    
  }